h1 {
    color: red;
}

#special-box {
    background: magenta;
}

.box-model {
    width: 10rem;
    height: 10rem;
    background: limegreen;
    border: 1rem solid orange;
    padding: 2rem;
    margin: 1rem;
}

.child {
    width: 50%;
    height: 50%;
    background: purple;
}

.em-stuff {
    
}

/* Use rem for font sizes
Us em for padding and margins */

.em-text {
    font-size: 5rem;
    background: lightblue;
    text-align: center;
    width: max-content;
}

