.pop-up-container {
    background: cornflowerblue;
    padding: .25rem;
}

.inner-content {
    background: beige;
}

.inner-error-container {
    background: crimson;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.inner-error-x {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateZ(45deg);
    font-size: 3rem;
}